{% extends "padre.html" %}

{% load static %}

{% block descripcion %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('../static/AppProyectoFinalGavino/assets/img/contact-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Contacto</h1>
                    <span class="subheading">¿Tiene preguntas? Tengo respuestas.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Ingreso el formulario aquí -->

<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>¿Quieres ponerte en contacto? Complete el siguiente formulario para enviarme un mensaje y me pondré en contacto con usted lo antes posible.</p>
                <div class="my-5">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    {% if miFormulario.errors %}
                    <p style="color:red" >Están mal los datos, revisar por favor.</p>
                    {% endif %}
                    <form id="contactForm" data-sb-form-api-token="API_TOKEN" action="" method="POST">{% csrf_token %}
                        <table>
                            {{ miFormulario.as_table }}
                        </table>
                        <br>
                        <input  type = "submit" value="Enviar">
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
