{% extends "padre.html" %}

{% load static %}

{% block descripcion %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('static/AppProyectoFinalGavino/assets/img/buildings-main-marquee.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>Estamos preparando algo especial para ti</h1>
                    <h2 class="subheading">Una comunidad te espera.</h2>
                    {% if miFormulario.erros %}
                        <p style="color:red" >Están mal los datos, revisar por favor.</p>
                        {% endif %}
                    <form action="" method="POST">{% csrf_token %}

                        <table>
                            {{ miFormulario.as_table }}
                        </table>

                        <input type = "submit" value="Newsletter" >
                    </form>
                    <span class="meta">
                        Posted by
                        <a href="#!">Start Bootstrap</a>
                        on August 24, 2023
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}